.container-body{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 500px;
    background: #000000;
}

.kiri{
    position: absolute;
    width: 150px;
    height: 500px;
    left: -1px;
    top: 0px;
    background: #9A9A9A;
    box-shadow: inset 0px 4px 18px #636363;
    animation: kiri 4s ease-out 1 reverse;
}


@keyframes kiri{
    from {
        left: -1px;
    }
    to {
        left: -151px;
    }
}

.kanan {
    position: absolute;
    width: 150px;
    height: 500px;
    left: 151px;
    top: 0px;
    background: #9A9A9A;
    box-shadow: inset 0px 4px 18px #636363;
    animation: kanan 4s ease-out 1 reverse;
}

@keyframes kanan{
    from {
        left: 151px;
    }
    to {
        left: 301px;
    }
}

.luar{   
    position: absolute;
    width: 36px;
    height: 36px;
    left: 17px;
    top: 452px;
    background: #646464;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 8px;
    text-align: center;
    color: #ffffff
}

.dalam{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 245px;
    top: 452px;
    background: #646464;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 8px;
    text-align: center;
    color: #ffffff
}